doctype HTML 

html 
  head 
    title This is the page title 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body 
    nav 
      ul 
        li 
          a(href="/english")
            img.flag(src="/images/US-flag.png"
                    alt="US Flag"
                    title="Go to US English site")
        li 
          a(href="/french")
            img.flag(src="/images/France-flag.png"
                    alt="Drapeau de la france"
                    title="Aller sur le site français")
        li
          a(href="/serbian")
            img.flag(src="/images/Serbia-flag.png"
                    alt="Застава Србије"
                    title="Идите на српски сајт")
        li 
          a.current(href="/japanese")
            img.flag(src="/images/Japan-flag.png"
                    alt="日本の旗"
                    title="日本サイトへ行く")
    header 
      h1 ハローワールド
    main 
      p もうすぐソフトウェアエンジニアになるんだ!
      img(src="/images/earth.jpg" alt="The Earth" title="The Earth")